html {
    font-family: Arial, Helvetica, sans-serif;
    font: 400 13.3333px Arial
}

button {
    margin: 10px;
    cursor: pointer;
    border: none;
    background: white;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin: 10px;
    min-width: 100px;
    grid: 1 / 2;
    background-color: rgba(153, 153, 153, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
}
.show {
    display: grid;

}
a {
    text-decoration: none;
    color: black;
    margin: 5px 10px;
}